@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-repeat: no-repeat;
}

main {
  max-width: 150ch;
  min-height: 100vh;
  margin: auto;
}

#info {
  max-width: 50%;
  margin: auto;
}

#title {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  font-size: 2rem;
  margin: 25px;
}

#description {
  text-align: center;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 30px;
}

#foto-bareng {
  display: block;
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 50px;
  box-shadow: 3px 3px 10px 5px black;
  transition: transform 0.2s;
}

#foto-bareng:hover {
  transform: scale(1.05);
}

#list-porto {
  padding: 2em;
}

#list-porto ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;flex-wrap: wrap;justify-content: center;gap: 1.5em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 1em;
}
/* 
#list-porto li{
    display: flex;
    flex: 1 1 0;
} */
#list-porto a {
  outline: 1px solid #aaa;
  background: rgb(0, 0, 0, 0.1);
  border-radius: 0.2em;
  /* box-shadow: 2px 2px 2px 1px black; */
  text-decoration: none;
  padding: 20px;
  transition: background-color 200ms ease;
  position: relative;
  min-width: max-content;
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
}

/*
style the before pseudoelement of only the
anchors not with href="#", that is the anchors
with valid URLs
*/
#list-porto a:not(a[href="#"])::before {
  content: "";
  background: rgb(112, 229, 15);
  position: absolute;
  width: 0.5rem;
  inset: 0;
}

#list-porto a:hover {
  background: rgb(0, 0, 0, 0.5);
}

footer {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0));
  padding: 3rem;
  text-align: center;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  #info {
    max-width: 100%;
  }
}
