@import url("http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext");
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    margin-left: -45px;
}

li {
    list-style: none;
    display: inline-block;
}

.main {
    max-width: 800px;
    height: 520px;
    background-color: #0d8962;
    margin: 0 1em;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eae7e7"
}

.img {
    background-image: url(img2.jpeg);
    background-color: #eaeaea;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid;
}

h1 {
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 1.4rem;
    margin: 0 auto;
    font-weight: bold;
    color: #0c30a8;
    width: max-content;
    position: relative;
}

/* efek ngetik */
h1::before,h1::after{
    content: "";
    position: absolute;
    inset: 0;
}

/* yang nutupin teks */
h1::before{
    background: #0d8962;
    animation: ngetik 3s steps(19) forwards;
}

/* caret */
h1::after{
    background: black;
    width: .12rem;
    animation: ngetik 3s steps(19) forwards,
    ngedip 800ms 3s infinite;
}

/* animasi ngetik */
@keyframes ngetik{
    to{
        left: 100%;
    }
}

/* animasi ngedip untuk caret */
@keyframes ngedip{
    to{
        background: transparent;
    }
}

.text {
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: #324e63;
}

p {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 450px;
    height: auto;
    color: #324e63;
}