body {
    color: whitesmoke;

}
#header{
    background-color: dimgray;
}
h1 {
  text-align: left;
  position: static;
    
    }
#gambar {
    text-align: center;
    border-radius: 25%;
    border: solid;
    margin: auto;
}
div {
 text-align: center;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.logo {
    width: 120px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;;
}
nav ul li a {
    color:  white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li ::after {
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}
nav ul li a:hover::after {
    width: 100%;
}
.container {
    background-color: dimgrey;
    padding-bottom: 10px;
    padding: 35px;
    
}
.tentang {
    background-color: darkslategrey;
    padding-top: 40px;
    text-align: center;
    font-size: larger;
    font-family: "Roboto Condensed";
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    padding-bottom: 25px;
    padding-top: 10px;
}
.sosmed img{
    width: 40px;
    height: 25px;
}